@import "../variables";

#services {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 9rem;

  p {
    color: $lightgrey;
    font-size: 1.1rem;
  }
  
}

.service-header {
  text-align: center;
  margin-bottom: 20px;
  
  h1 {
    text-align: center;
    color: $lightgrey;
    font-size: 3rem;
     
    span {
      background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
      background-clip: text;
      color: transparent;
     }
  }
}

.cards {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.service-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
  height: 400px;
  padding: 10px 30px;
  background-color: #322d2d;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, $mainRed, #e52d27) 1;
  transition: transform .2s;

  h3 {
    font-size: 1.4rem;
  }

}

.service-cards:hover {
  transform: translate(0, -10px);
}

// ladnscape tablets to laptops
@media only screen and (max-width: 992px) {
  #services {
    padding: 25px 0;

    p {
      font-size: 1rem;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .service-cards {
    height: 300px;
    width: 25%;   
    padding: 0 15px;

    h3 {
      font-size: 1.1rem;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

// tablets large phones
@media only screen and (max-width: 768px) {

  #services {
    margin-bottom: 1rem;
    padding: 50px 0;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .service-cards {
    width: 40%;   
    padding: 0 15px;

    h3 {
      font-size: 1.4rem;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}


@media only screen and (max-width: 600px) {

  #services {
    margin: 0;
    margin-bottom: 100px;
  }

  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .service-cards {
    width: 70%;
  }

}