@import "../variables";

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9rem;
  padding: 90px 0 100px 0;

  h1 {
    text-align: center;
    color: $lightgrey;
    font-size: 2.7rem;
    margin-top: 90px;
     
    span {
      background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
      background-clip: text;
      color: transparent;
     }
  }
}

.react-tabs {
  width: 100%;
}

.tabs-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3em;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.shopify-tab {
    color: $shopifyGreen;
    
    span {
      margin-right: 10px;
    }
}

.full-stack-tab {
  color: $fullStackBlue;

  span {
    margin-right: 10px;
  }
}

.all-projects {
  width: 100%;
  height: 300px;
}

.proj-cards {
  display: flex;
  justify-content: center;
}

.project-cards {
  width: 100%;
}

.inner-carousel {
  margin: auto;
  width: 80%;
  transition: transform .2s;

  img {
    width: 100%;
    height: 300px;
  }

}

.inner-carousel:hover {
  transform: translate(0, -10px);
}

.btn-div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;

  .shopify-btn, .full-btn {
    width: 30%;
    margin-top: 10px;
    padding: 12px 32px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f1f1f1;            
    box-shadow: 0 0 20px #817e7e;
    border-radius: 20px;
    display: block;
  }

  .shopify-btn {
    background-image: linear-gradient(to right, #4e720c 0%, $shopifyGreen  51%, #b8ec58  100%);
  }

  .full-btn {
    background-image: linear-gradient(to right, #134e86 0%, $fullStackBlue  51%, #3fadf1  100%);
  }

  .shopify-btn:hover, .full-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

// laptops
@media only screen and (max-width: 1420px) {
  #projects {
    padding-top: 0;

    h1 {
      margin-top: 0px;
    }
  }
}
// ladnscape tablets to laptops
@media only screen and (max-width: 992px) {

  .shopify-btn, .full-btn {
    font-size: .75rem;
  }
}

//large phones tablets
@media only screen and (max-width: 768px) {
  #projects {
    margin-bottom: 5rem;
    padding: 50px 0 120px 0;

    h1 {
      font-size: 2rem;
      margin-top: 50px;
      margin-bottom: 0;
    }
  }

  .tabs-list {
    font-size: 1.2rem;
   }

  .inner-carousel {
    
    img {
      height: 300px;
    }
  }
}

//phones
@media only screen and (max-width: 600px) {
  #projects {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

 .tabs-list {
  font-size: 1.2rem;
 }

 .inner-carousel {
  
  img {
    height: 150px;
  }

 }

 .btn-div {

   a {
    font-size: .75rem;
   }
 }

}