@import "../variables";

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;


  h1 {
    text-align: center;
    color: $lightgrey;
    font-size: 3rem;
    margin-top: 90px;
     
    span {
      background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
      background-clip: text;
      color: transparent;
     }
  }
}

.react-tabs {
  width: 100%;
}

.tabs-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.shopify-tab {
    font-size: 2rem;
    color: $shopifyGreen;
    
    span {
      margin-right: 10px;
    }
}

.full-stack-tab {
  font-size: 2rem;
  color: $fullStackBlue;

  span {
    margin-right: 10px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;

}

.proj-cards {
  text-align: center;
  height: 350px;
  width: 30%;
  padding: 26px 35px;
  transition: transform .2s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  img {
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  h3 {
    font-size: 1.9rem;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    font-weight: 900;
    color: $mainRed;
    text-decoration: none;
  }
  span {
    color: $mainRed;
    padding-left: 10px;
  }

}

.proj-cards:hover {
  transform: translate(0, -10px);
}

.card-shopify {
  color: $shopifyGreen;
}


.view-all {
  width: 30%;
  background-image: linear-gradient(to right, #3e5b06 0%, $shopifyGreen  51%, #acdf4d 100%);
  margin-top: 30px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f1f1f1;            
  box-shadow: 0 0 20px #817e7e;
  border-radius: 20px;
  display: block;
}

.view-all:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}