@import "../variables";

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  h1 {
    text-align: center;
    color: $lightgrey;
    font-size: 3rem;
    margin-top: 90px;
     
    span {
      background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
      background-clip: text;
      color: transparent;
     }
  }
}

.react-tabs {
  width: 100%;
}

.tabs-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3em;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.shopify-tab {
    color: $shopifyGreen;
    
    span {
      margin-right: 10px;
    }
}

.full-stack-tab {
  color: $fullStackBlue;

  span {
    margin-right: 10px;
  }
}

.all-projects {
  width: 100%;
  height: 300px;
}

.proj-cards {
  display: flex;
  justify-content: center;
}

.project-cards {
  width: 100%;
}

.inner-carousel {
  margin: auto;
  width: 80%;
  transition: transform .2s;

  img {
    width: 100%;
    height: 300px;
  }

}

.inner-carousel:hover {
  transform: translate(0, -10px);
}

.btn-div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

