@import "../variables";

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;


  h1 {
    text-align: center;
    color: $lightgrey;
    font-size: 3rem;
     
    span {
      background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
      background-clip: text;
      color: transparent;
     }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;

}

.proj-cards {
  height: 550px;
  width: 30%;
  padding: 26px 35px;
  transition: transform .2s;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, $mainRed, #e52d27) 1;
  
  img {
    height: 65%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  h3 {
    font-size: 1.9rem;
    color: $fullStackBlue;
  }

  p {
    font-size: 1.2rem;
    color: $shopifyGreen;
  }

  a {
    font-weight: 900;
    color: $mainRed;
    text-decoration: none;
  }
  span {
    color: $mainRed;
    padding-left: 10px;
  }

}

.proj-cards:hover {
  transform: translate(0, -10px);
}


.view-all {
  width: 30%;
  background-image: linear-gradient(to right, #3e5b06 0%, $shopifyGreen  51%, #acdf4d 100%);
  margin-top: 30px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f1f1f1;            
  box-shadow: 0 0 20px #817e7e;
  border-radius: 20px;
  display: block;
}

.view-all:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}