@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


#hero {
  margin: 0 50px;
  display: flex;
}
// description of bio
.bio {
  width: 50%;
  color: #d15555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
  }

  h3 {
    font-size: 43px;
    margin: 0;
    padding-bottom: 20px;
    
  }

  h5 {
    width: 60%;
    font-size: 20px;

  }
}

  .full-stack {
    background-image: linear-gradient(60deg, #50ABFF, #a0c6e9);
    background-clip: text;
    color: transparent;

    span {
      color: #50ABFF;
      margin-right: 10px;
    }
  }

  .shopify {
    background-image: linear-gradient(60deg, #94BE47, #d0ef98);
    background-clip: text;
    color: transparent;
    
    span {
      color: #94BE47;
      margin-right: 10px;
    }
  }

//Image
.hero-img {
  margin-top:20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 500px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 3px 3px .6em #94BE47, -.5em 0 .6em #50ABFF; 
  }

}
      