@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import '../variables';


#hero {
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding: 1.8rem 10rem;
  display: flex;
  height: auto;
}
// description of bio
.bio {
  width: 50%;
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  background-clip: text;
  color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-bottom: 14px;
  }

  h3 {
    font-size: 2.7rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  h5 {
    line-height: 2.5rem;
    color: $lightgrey;
    width: 70%;
    font-size: 1.6rem;
    margin-top: 2rem;
  }

}

  .full-stack {
    background-image: linear-gradient(60deg, $fullStackBlue, #a0c6e9);
    background-clip: text;
    color: transparent;

    span {
      color: $fullStackBlue;
      margin-right: 10px;
    }
  }

  .shopify {
    background-image: linear-gradient(60deg, $shopifyGreen, #d0ef98);
    background-clip: text;
    color: transparent;
    
    span {
      color: $shopifyGreen;
      margin-right: 10px;
    }
  }

          
.btn-grad {
  width: 30%;
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  margin-top: 10px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f1f1f1;            
  box-shadow: 0 0 20px #817e7e;
  border-radius: 20px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


//Image
.hero-img {
  margin-top: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 2rem;
    height: 30rem;
    width: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 7px 7px .9em $shopifyGreen, -.9em -7px .9em $fullStackBlue; 
  }

  .social-icons {
    font-size: 40px;
    display: flex;
    gap: 1em;

    a {
      color: $lightgrey;
    }
  }

}

// ladnscape tablets to laptops
@media only screen and (max-width: 1200px) {
  #hero {
    margin-top: 30px;
      padding: 20px 20px;

    .bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 55%;

      h2, h3, h5 {
        width: 100%;
        margin: 20px 0;
      }

      h2 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 1.6rem;
      }

      h5 {
        font-size: 1.3rem;
        line-height: 2rem;
      }
    
    }

    .hero-img {
      margin-top: 30px;

      img {
        width: 17rem;
        height: 350px;
      }
    }
  }
}

//tablet small laptop
@media only screen and (max-width: 768px) {
  #hero {
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 5px;
  }

  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    h2, h3, h5 {
      width: 100%;
      margin: 10px 0;
    }

    h2 {
      font-size: 2.3rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    h5 {
      font-size: 1rem;
      line-height: 1.2rem;
    }
   
  }

  .hero-img {
    margin-top: 30px;
    img {
      width: 20rem;
      height: 280px;
    }
  }

  .btn-grad {
    font-size: .9rem;
    width: 25%;
    padding: 12px 28px;
  }
}

// phones      
@media only screen and (max-width: 600px) {
  #hero {
    margin: 0;
    padding: 0 20px;
    margin-bottom: 20px;

    h2 {
      font-size: 2rem;
      margin: 0;
    }

    h3 {
      font-size: 1.3rem;
      margin: 15px;
    }

    h5 {
      font-size: .9rem;
      line-height: 1.3rem;
      margin: 5px 0;
    }

    .btn-grad {
      margin-top: 30px;
      font-size: .7rem;
    }
  }

  .hero-img {
    margin-top: 30px;

    img {
      width: 18rem;
      height: 250px;
    }
  }
 
}