@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import '../variables';


#hero {
  margin: 0 50px 50px 50px; 
  display: flex;
  height: auto;
}
// description of bio
.bio {
  width: 50%;
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  background-clip: text;
  color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    margin-bottom: 14px;
  }

  h3 {
    font-size: 34px;
    margin: 0;
    margin-bottom: 0;
  }

  h5 {
    width: 60%;
    font-size: 20px;
    margin-top: 14px;
  }

}

  .full-stack {
    background-image: linear-gradient(60deg, $fullStackBlue, #a0c6e9);
    background-clip: text;
    color: transparent;

    span {
      color: $fullStackBlue;
      margin-right: 10px;
    }
  }

  .shopify {
    background-image: linear-gradient(60deg, $shopifyGreen, #d0ef98);
    background-clip: text;
    color: transparent;
    
    span {
      color: $shopifyGreen;
      margin-right: 10px;
    }
  }

          
.btn-grad {
  width: 30%;
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  margin-top: 10px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f1f1f1;            
  box-shadow: 0 0 20px #817e7e;
  border-radius: 20px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


//Image
.hero-img {
  margin-top:20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 20px;
    height: 350px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 3px 3px .6em $shopifyGreen, -.5em 0 .6em $fullStackBlue; 
  }

  .social-icons {
    font-size: 40px;
    display: flex;
    gap: 1em;

    a {
      color: $lightgrey;
    }
  }

}
      

 