@import "../variables";

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me {
  display: flex;
  justify-content: space-between;
  color: $lightgrey;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 50px;
}

.about-img {
  width: 45%;

  img {
    width: 90%;
    height: 100%;
    box-shadow: 7px 7px .9em $shopifyGreen, -.9em -7px .9em $fullStackBlue; 
  }
}

.text-skills {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.about-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    width: 70%;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .upwork {
    margin-left: 5px;
    color: $shopifyGreen;
    text-decoration: none;
    transition: transform 2s;
  }

  .upwork:hover {
   color: $mainRed;
  }
}

.skill-images {
  margin: auto;
  width: 80%;

  img {
    width: 101%;
    height: 150px;
  }
}


// ladnscape tablets to laptops
@media only screen and (max-width: 992px) {

  #about {
    margin-top: 20px;
  }

  .about-me {
    margin-bottom: 50px;
  }

  .about-img {
    img {
      width: 90%;
    }
  }

  .about-info {
    h3 {
      width: 90%;
      font-size: 1rem;
    }
  }

  .skill-images {
    width: 90%;

    img {
      height: 100px;
    }
  }
}


// large phones tablets
@media only screen and (max-width: 768px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    display: flex;
    justify-content: center;
    width: 90%;

    img {
      height: 300px;
      width: 70%;
    }
  }
  .text-skills {
    margin-top: 15px;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .about-info {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

    h3 {
      margin: 5px 0;
    }
  }
}

//phones
@media only screen and (max-width: 600px) {

}