@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


#contact {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
  color: $lightgrey;
  
  h1 {
    font-size: 3rem;
    color: white;
    line-height: 5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
  }

  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  span {
    color: $mainRed;
    padding-right: 15px;
  }
}

.contact-form {
  background-color: #000;
  color: white;
  width: 40%;
  height: 100%;
  padding: 22px 32px;

  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      label {
        display: flex;
        gap: 0.5rem;
      }

      input, textarea {
        width: 90%;
        margin-bottom: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 10px;
        border: 0px solid #000;
        background-color: $mainBackground;
        font-size: 1.2rem;
        color: white;
      }
      textarea {
        height: 7rem;
      }

      ::placeholder {
        color: $lightgrey;
      }
    }

  }
}
