@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


#contact {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
  color: $lightgrey;
  
  h1 {
    font-size: 2.5rem;
    background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
    background-clip: text;
    color: transparent;
    line-height: 4rem;
    margin-bottom: 10px;
    margin-top: 0;
  }

  h2 {
    font-size: 1.8rem;
    color: #c5b9b9;
  }

  p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  span {
    color: $mainRed;
    padding-right: 15px;
  }
}

.contact-form {
  background-color: #000;
  color: white;
  width: 40%;
  height: 100%;
  padding: 22px 32px;

  h5 {
    font-size: 1.3rem;
  }

  p {
    color: red;
    margin: 0;
  }

  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    gap: 1rem;


    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      label {
        display: flex;
        gap: 0.5rem;
      }

      input, textarea {
        width: 90%;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 10px;
        border: 0px solid #000;
        background-color: $mainBackground;
        font-size: 1.2rem;
        color: white;
      }
      textarea {
        height: 7rem;
      }

      ::placeholder {
        color: $lightgrey;
      }
    }

  }
  
  .email-success {
    color: $shopifyGreen;
  }
}


// ladnscape tablets to laptops
@media only screen and (max-width: 992px) {
  .contact-info {
    width: 45%;

    h1 {
      font-size: 1.9rem;
      line-height: 2.9rem;
    }

    h2 {
      margin: 0;
      font-size: 1.7rem;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 50px;
    }

    h3 {
      font-size: 1.1rem;
    }
  }

  .contact-form {
    width: 45%;
  }
}

//large phones tablets
@media only screen and (max-width: 768px) {
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    width: 80%;
    text-align: center;
  }

  .contact-form {
    width: 80%;
  }
}

//phones
@media only screen and (max-width: 600px) {}
