@import "../variables";

#nav {
  background-color: $mainBackground;
  padding: 8px 40px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;


  a {
    cursor: pointer;
  }

  a:first-child {
    background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
    background-clip: text;
    color: transparent;
    display: flex;
    gap: 0.5em;

    span {
      color: $mainRed;
    }
  }
  
}


.logo {
  font-weight: 900;
  font-size: 1.5em;
  color: $mainRed;
}

.links {
  display: flex;
  gap: 2rem;
  font-size: 18px;
  font-weight: 700;

  a{
    background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
    background-clip: text;
    color: transparent;
  }
}

.btn-contact {
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  padding: .6rem 1.1rem;
  text-align: center;
  transition: 0.5s;
  text-decoration: none;
  background-size: 200% auto;
  color: #f1f1f1;            
  box-shadow: 0 0 20px rgb(129, 126, 126);
  border-radius: 20px;
  display: block;
}

.btn-contact:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
