@import "../variables";

#nav {
  padding: 18px 40px 8px 0;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;

  a {
    cursor: pointer;
  }
}

.nav-bg {
  background-image: url("../images/background.jpeg");
}

.logo {
  padding-bottom: 20px;
    
    img {
      width: 250px;
      height: 165px;
    }
}

.links {
  display: flex;
  gap: 2rem;
  font-size: 18px;
  font-weight: 700;

  a {
    background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
    background-clip: text;
    color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
  }
}

.contact-link {
    display: flex;
  
  .btn-contact {
    background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
    margin: 10px;
    padding: .6rem 1.1rem;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    background-size: 200% auto;
    color: #f1f1f1;            
    box-shadow: 0 0 20px rgb(129, 126, 126);
    border-radius: 20px;
    display: block;
  }
  
  .btn-contact:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}
// for navbar hidden
#hidden {
  display: flex;
}

.bars {
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: $mainRed;
  display: none;
}
// ladnscape tablets to laptops
@media only screen and (max-width: 992px) {
  
  .logo {
    img {
      width: 170px;
      height: 130px;
    }
  }
  
  .links {
    // font-size: 15px;
    gap: 1.5rem;

    a {
      font-size: 1.2rem;
    }
  }

  .contact-link {
    display: flex;

    a {
      font-size: 12px;
    }

    .btn-contact {
      margin: 10px;
      padding: .4rem .6rem;
    }
  }
}
//large phones tablets
@media only screen and (max-width: 768px) {

  .logo {
    // margin: 0;
    padding: 0;
    img {
      width: 200px;
      height: 150px;
    }
  }
  #contact-media {
    font-size: 20px;
  }
  .links-media {
    display: none;

    a {
      font-size: 20px;
    }
  }

  #hidden {
    background-image: url("../images/background.jpeg");
    position: absolute;
    right: 0;
    top: 65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .bars {
    display: flex;
  }
}

//phones
@media only screen and (max-width: 600px) {
  #nav {
    padding-top: 0;
  }
  .logo {
    margin: 0;
    padding: 0;
    img {
      width: 150px;
      height: 100px;
    }
  }
}
