@import "../variables";

#nav {
  padding: 8px 40px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  background-clip: text;
  color: transparent;
}

.logo {
  font-weight: 900;
  font-size: 1.5em;
  display: flex;
  gap: .5em;
  color: $mainRed;
}

.links {
  display: flex;
  gap: 2rem;
  font-size: 18px;
  font-weight: 700;
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  background-clip: text;
  color: transparent;
}

.btn-contact {
  background-image: linear-gradient(to right, $mainRed 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  padding: 12px 32px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f1f1f1;            
  box-shadow: 0 0 20px rgb(129, 126, 126);
  border-radius: 20px;
  display: block;
}

.btn-contact:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
